

body, html {
    overflow: visible !important;
}
:root{
    @font-face {
        font-family: Koho;
        src: url(../font/KoHo.ttf);
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}
